* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.moviePic {
  width: 200px;
  height: 200px;
}

.checkOutItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 700px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-right: 10px;
}

.addPadding {
  margin-right: 10px;
}

.checkoutSection {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
}
.pay {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: antiquewhite;
  box-shadow: 3px 3px black;
}
.pay:hover {
  transform: scale(1.1);
}
.pay:active {
  transform: scale(1.1);
  transform: translateY(4px);
  box-shadow: 1px 1px black;
}
